<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículos</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .card {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .card-header {
            background-color: #3273dc;
            color: white;
        }

        .card-footer {
            background-color: #f5f5f5;
        }

        .card-footer-item {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="columns is-centered">
            <div class="column is-half">
                <!-- Card com as informações do currículo -->
                <div class="card">
                    <!-- Cabeçalho -->
                    <header class="card-header">
                        <p class="is-size-4 card-header-title">
                            <strong>Currículo</strong>
                        </p>
                    </header>

                    <!-- Corpo do Card -->
                    <div class="card-content">
                        <div class="content">
                            <!-- Nome -->
                            <p><strong>Nome:</strong> {{.Name}}</p>

                            <!-- Telefone -->
                            <p><strong>Telefone:</strong> {{.Cellphone}}</p>

                            <!-- Email -->
                            <p><strong>Email:</strong> <a href="mailto:{{.Email}}" class="has-text-link">{{.Email}}</a>
                            </p>

                            <!-- Website -->
                            <p><strong>Website:</strong>
                                <a href="{{.WebAddress}}" rel=”noopener” class="has-text-link" target="_blank">{{.WebAddress}}</a>
                            </p>

                            <!-- Experiência -->
                            <p><strong>Experiência:</strong> {{.Experience}}</p>
                        </div>
                    </div>

                    <!-- Rodapé com ações -->
                    <footer class="card-footer">
                        <a href="/" class="card-footer-item button is-info is-light">Voltar</a>

                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>

</html>