<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link href="/static/css/bulma.min.css" rel="stylesheet">
</head>
<body>

<div class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Algo deu errado!</h1>
            <div class="notification is-danger">
                <strong class="is-size-4 has-text-weight-bold">Erro:</strong> {{.ErrorMessage}}
            </div>
            <a href="/" class="button is-link is-light">Voltar para a página inicial</a>
        </div>
    </div>
</div>

</body>
</html>