<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículos</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>

<body>
    <div class="container mt-5">
        <!-- Título -->
        <h1 class="title has-text-centered">Lista de Currículos</h1>

        <!-- Tabela -->
        <div class="table-container mt-4">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Email}}</td>
                        <td>
                            <a class="button is-info is-size-6 is-small" href="/detail/{{.ID}}">Detalhes</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <!-- Botão para adicionar novo currículo -->
        <div class="has-text-right">
            <a href="/register" class="button is-primary">
                Novo Currículo
            </a>
        </div>
    </div>
</body>

</html>