<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículos</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>

<body>
    <div class="container has-text-centered mt-5">
        <!-- Título do erro -->
        <h1 class="title is-size-1 has-text-danger">404</h1>

        <!-- Mensagem -->
        <p class="subtitle">A página que você tentou acessar não foi encontrada!</p>

        <!-- Botão de retorno -->
        <a href="/" class="button is-primary is-large mt-4">
            Voltar para o início
        </a>
    </div>
</body>

</html>