<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículos</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>

<body>
    <div class="container mt-5">
        <!-- Título -->
        <h1 class="title has-text-centered">Cadastro de Currículo</h1>

        <!-- Formulário -->
        <form method="POST" action="/register" class="box">

            {{ .csrfField }}


            <!-- Campo Nome -->
            <div class="field">
                <label class="label">Nome:</label>
                <div class="control">
                    <input class="input" type="text" name="name" required placeholder="Digite seu nome">
                </div>
            </div>

            <!-- Campo Telefone -->
            <div class="field">
                <label class="label">Telefone:</label>
                <div class="control">
                    <input class="input" type="text" name="cellphone" placeholder="Digite seu telefone">
                </div>
            </div>

            <!-- Campo Email -->
            <div class="field">
                <label class="label">Email:</label>
                <div class="control">
                    <input class="input" type="email" name="email" required placeholder="Digite seu email">
                </div>
            </div>

            <!-- Campo Web -->
            <div class="field">
                <label class="label">Web:</label>
                <div class="control">
                    <input class="input" type="url" name="web" placeholder="Digite seu site ou portfólio">
                </div>
            </div>



            <!-- Campo Experiência -->
            <div class="field">
                <label class="label">Experiência:</label>
                <div class="control">
                    <textarea class="textarea" name="experience" required
                        placeholder="Descreva sua experiência"></textarea>
                </div>
            </div>

            <!-- Botão de Cadastro -->
            <div class="field has-text-right">
                <button type="submit" class="button is-primary">Cadastrar</button>
            </div>
        </form>

        <div class="has-text-right">
            <a href="/" class="button is-link">
                Voltar
            </a>
        </div>
    </div>
</body>

</html>